/HelloWorldASPCore/bin/Debug/netcoreapp2.2
/HelloWorldASPCore/obj/Debug/netcoreapp2.2
/HelloWorldASPCore/obj
/HelloWorldASPCore/bin
/RequestTester/bin
/RequestTester/obj
/HelloWorldASPCore.Client/bin
/HelloWorldASPCore.Client/obj
/HelloWorldASPCore.Common/bin
/HelloWorldASPCore.Common/obj
