<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="HelloWorldASPCore" fileName="${basedir}/log/HelloWorldASPCore ${date:format=dd-MM-yyyy}-Full.log"
            layout="${date:universalTime=false:format=HH\:mm\:ss.fff} ## [${threadid}] ## ${event-properties:item=EventId_Id} ## ${uppercase:${level}} ##${logger}##${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/log/archives/${date:format=dd-MM-yyyy}/HelloWorldASPCore ${date:format=dd-MM-yyyy}-Full.{#####}.log"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            maxArchiveFiles="1000"
            concurrentWrites="true"
            keepFileOpen="false"/>
    <target xsi:type="File" name="exceptions" fileName="${basedir}/log/Exceptions ${date:format=dd-MM-yyyy}-Full.log"
            layout="${date:universalTime=false:format=HH\:mm\:ss.fff} ## [${threadid}] ##${event-properties:item=EventId_Id}##${uppercase:${level}}##${logger}##${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/log/archives/${date:format=dd-MM-yyyy}/Exceptions ${date:format=dd-MM-yyyy}-Full.{#####}.log"
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            maxArchiveFiles="1000"
            concurrentWrites="true"
            keepFileOpen="false"/>
  </targets>

  <rules>
    <!-- BlackHole without writeTo -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="ExceptionLogger" maxLevel="Error" final="true" writeTo="exceptions" />
    <logger name="*" minlevel="Trace" writeTo="HelloWorldASPCore" />
  </rules>
</nlog>
